.block{
  height : 100px;
  width : 100px;
  border : 2px solid;
  cursor : pointer;
  display : flex;
  justify-content: center;
  align-items: center;
  font-size:35px;
  font-weight: bold;
  
}

.row{
  display:flex;
}

.GameBoard{
  margin-left: 400px;
  width : 300px;
  background-color:honeydew;
}

.page{
  background-color: #C21E56 ;
  height:500px;
 
  padding : 200px;
}